<template>
  <div id="app" ref="app">
    <h1>Egyptian Ratscrew!</h1>
    <div>
      <h4>Current players:</h4>
      <div id="players">
        <div v-for="(player, idx) in players" :key="idx">
          <p v-if="currentTurnIdx == idx" class="currentTurn">{{ player }}</p>
          <p v-else>{{ player }}</p>
        </div>
      </div>
    </div>
    <div>
      <label>
        Name: 
        <input type="text" id="name" v-model="nameBox.name" :disabled="nameBox.disabled">
      </label>
      <button ref="join" id="join" v-if="connected" v-on:click="disconnect()">{{ joinBtnText }}</button>
      <button ref="join" v-else v-on:click="join()">{{ joinBtnText }}</button>
      <p> Status | 
        <span v-if="connected">connected</span>
        <span v-else>disconnected</span>
      </p>
    </div>
    <div id="game">
      <button ref="statsBtn" v-on:click="showStats()">{{ statsBtnText }} Stats</button>
      <div id="stats" v-bind:class="{ hidden: statsHidden }">
        <table border="1">
          <tr>
            <th>Total Slaps</th>
            <th>Average Slap Time</th>
            <th>Slaps Missed</th>
          </tr>
          <tr>
            <td>{{ totalSlaps }}</td>
            <td>{{ averageSlap }} sec</td>
            <td>{{ slapsMissed }}</td>
          </tr>
          <tr>
            <th>Slaps Won</th>
            <th>Slaps Lost</th>
            <th>Type Missed</th>
          </tr>
          <tr>
            <td>{{ slapsWon }}</td>
            <td>{{ slapsLost }}</td>
            <td>Dbl: {{ missedSlaps.double }}, SW: {{ missedSlaps.sandwich }}</td>
          </tr>
          <tr>
            <th>Type Slapped</th>
          </tr>
          <tr>
            <td>Dbl: {{ typesSlapped.double }}, SW: {{ typesSlapped.sandwich }}</td>
          </tr>
        </table>
      </div>
      <p>Your card total: <b id="cardCount">{{ cardCount }}</b></p>
      <div>
        <p>Current turn:</p>
        <h1 id="currentTurnName">{{ currentTurnName }}</h1>
      </div>
      <div id="gameContent">
        <div id="pile" class="gameItem">
          <p>Pile:</p>
          <div :style="{'background-position': this.offset, 'visibility': this.pileVisibility, 'border': this.outlineText}" id="cardImg" v-on:touchstart="slap()"></div>
          <p id="attemptsLeft">{{ attemptsLeftText }}</p>
          <div id="progress" ref="progress"></div>
        </div>

        <div class="gameItem">
          <div id="log" ref="log"
              style="height:15em;overflow:auto;border:1px solid black;padding:5px;">
              <div v-for="(msg, idx) in msgLog" :key="idx">
                <p class="msg">{{ msg }}</p>
              </div>
          </div>
          <button id="play" v-on:click="play()">{{ playBtnText }}</button>
        </div>
      </div>
    </div>
    <div id="playInstructions">
      <p><b>{{ playBtnText }}:</b> Right Ctrl</p>
      <p><b>{{ slapBtnText }}:</b> Spacebar</p>
    </div>
    <button ref="newGame" id="newGame" v-on:click="newGame()">New Game</button>
    <p id="repo">Code at <a href="https://gitlab.com/Danno131313/actix-ratscrew">gitlab.com/Danno131313/actix-ratscrew</a></p>
  </div>
</template>

<script>
import ProgressBar from 'progressbar.js';

export default {
  name: 'app',

  computed: {
    offset: function() {
      return this.xOffset + "px " + this.yOffset + "px";
    },

    currentTurnName: function() {
      if (this.players.length <= 0) {
        return "";
      } else if (this.players[this.currentTurnIdx] == this.nameBox.name) {
        return "You!";
      } else {
        return this.players[this.currentTurnIdx];
      }
    },

    attemptsLeftText: function() {
      if (this.attemptsLeft > 0) {
        return "Attempts left: " + this.attemptsLeft;
      } else {
        return "";
      }
    },

    outlineText: function() {
      if (this.pileOutline) {
        return "10px solid green";
      } else {
        return "10px solid white";
      }
    },

    statsBtnText: function() {
      if (this.statsHidden) {
        return "Show";
      } else {
        return "Hide";
      }
    },

    averageSlap: function() {
      if (this.totalSlaps == 0) {
        return 0;
      } else {
        return parseFloat(this.totalSlapTime / this.totalSlaps).toFixed(3);
      }
    }
  },

  data() {
    return {
      nameBox: {
        name: "",
        disabled: false,
      },

      joinBtnText: "Join",
      playBtnText: "Play card",
      slapBtnText: "Slap",
      
      wsUri: "ws://localhost:8000/ws/",
      
      msgLog: [],

      players: [],
      
      cardCount: 0,
      currentTurnIdx: 0,

      connected: false,
      conn: null,

      // offsets in pixels for assets/cards.png
      cardWidth: 150,
      cardHeight: 201,

      xOffset: 0,
      yOffset: 0,
      
      pileVisibility: "hidden",

      progress: null,

      canSlap: true,

      attemptsLeft: 0,

      pileOutline: false,

      t0: null,

      statsHidden: true,

      totalSlaps: 0,
      totalSlapTime: 0,
      slapsWon: 0,
      slapsLost: 0,
      slapsMissed: 0,
      typesSlapped: {
        double: 0,
        sandwich: 0,
      },
      missedSlaps: {
        double: 0,
        sandwich: 0,
      },

      slappedThisCard: false,
    }
  },

  created: function() {
    window.onkeydown = (e) => {
      this.keyPressed(e);
    };
    this.$options.sockets.onopen = function() {
      this.joinBtnText = "Disconnect";
      this.connected = true;
      this.conn = this.$socket;
      this.conn.sendObj({
          'action': 0,
          'content': this.nameBox.name,
      });
      this.msgLog = [];
      this.totalSlaps = 0;
      this.totalSlapTime = 0;
      this.slapsWon = 0;
      this.slapsLost = 0;
      this.slapsMissed = 0;
      this.missedSlaps.double = 0;
      this.missedSlaps.sandwich = 0;
      this.typesSlapped.double = 0;
      this.typesSlapped.sandwich = 0;
    }
    
    this.$options.sockets.onmessage = function(msg) { this.socketMsgHandler(msg); };

    this.$options.sockets.onclose = function() {
      this.nameBox.disabled = false;
      this.joinBtnText = "Join";
      this.connected = false;
      this.conn = null;
      this.players = [];
      this.cardCount = 0;
      this.currentTurnIdx = 0;
      this.log('Disconnected.');
      this.attemptsLeft = 0;
      this.pileVisibility = "hidden";
      this.playBtnText = "Play card";
      this.slapBtnText = "Slap";
    };

    this.$options.sockets.onerror = function() {
      this.log("WEBSOCKET ERROR");
    };
  },

  mounted: function() {
    this.progress = new ProgressBar.Circle(this.$refs.progress, {
      strokeWidth: 6,
      duration: 300,
      color: '#ff0000',
      trailColor: '#eee',
      trailWidth: 1,
    });
  },

  updated: function() {
    let log = this.$refs.log;
    log.scrollTop = log.scrollHeight;
  },

  methods: {
    join: function() {
      if (this.nameBox.name != "") {
        this.nameBox.disabled = true;
        this.$parent.connect();
      }
      this.$refs.join.blur();
    },

    disconnect: function() {
      this.$parent.disconnect();
    },

    socketMsgHandler: function(msg) {

      // Handlers for all message types
      //
      // ACTIONS:
      // 0 = Connect,
      // 1 = NewGame,
      // 2 = Slap,
      // 3 = Card played,
      // 4 = Text,
      // 5 = Player list update
      // 6 = Card recieved,
      // 7 = Disconnected player,
      // 8 = Player out of game,
      // 9 = Player won pile,
      // 10 = Player collected pile,
      // 11 = New hand recieved,
      // 12 = Update card count,
      // 13 = Game won,
      // 14 = Burned card,


      let json = JSON.parse(msg.data);
      if (json.action == 0) {
        this.log(json.content + " has joined the game.");
      } else if (json.action == 1) {
        this.cardCount = 0;
        this.canSlap = true;
        this.slappedThisCard = false;
        this.log("A new game has started!");
      } else if (json.action == 2) {
        let slapType;
        if (json.content.type == 1) { slapType = "double" }
        else { slapType = "sandwich" }
        let time = parseFloat(json.content.time / 1000).toFixed(3);
        let name;
        if (json.content.name == this.nameBox.name) {
          this.totalSlapTime += time;
          this.slapsWon += 1;
          this.totalSlaps += 1;
          name = "You";
        } else {
          if (this.slappedThisCard) {
            this.slapsLost += 1;
          } else {
            this.slapsMissed += 1;
          }
          name = json.content.name;
        }
        if (this.slappedThisCard) {
          if (slapType == "double") {
            this.typesSlapped.double += 1;
          } else {
            this.typesSlapped.sandwich += 1;
          }
        } else {
          if (slapType == "double") {
            this.missedSlaps.double += 1;
          } else {
            this.missedSlaps.sandwich += 1;
          }
        }
        if (json.content.second_best_time != null) {
          let secondBest = json.content.second_best_time;
          let delta = parseFloat((secondBest / 1000) - time).toFixed(3);
          this.log(name + " slapped a " + slapType + " in " + time + " seconds! (" + delta + "sec faster than the next fastest person!)");
        } else {
          this.log(name + " slapped a " + slapType + " in " + time + " seconds!");
        }
      } else if (json.action == 3) {
        this.canSlap = false;
        let card = json.content.card;
        this.progress.animate(1.0, () => {
          if (json.content.missed_slap == 1) {
            this.slapsMissed += 1;
            this.missedSlaps.double += 1;
          } else if (json.content.missed_slap == 2) {
            this.slapsMissed += 1;
            this.missedSlaps.sandwich += 1;
          }
          this.t0 = performance.now();
          this.calcOffset(card);
          this.canSlap = true;
          this.slappedThisCard = false;
          this.attemptsLeft = json.content.attempts_left;
          this.currentTurnIdx = json.content.next_turn;
          this.pileVisibility = "visible";
          this.progress.set(0);
        });
      } else if (json.action == 4) {
        this.log(json.content); 
      } else if (json.action == 5) {
        this.players = json.content.players;
        this.currentTurnIdx = json.content.next_turn;
        if (this.players[this.currentTurnIdx] == this.nameBox.name) {
          this.canSlap = true;
        }
      } else if (json.action == 7) {
        let name = json.content.name;
        let hadCards = json.content.had_cards;
        this.log(json.content.name + " has disconnected.");
        if (hadCards) {
          this.log(name + "'s cards have been dispersed among active players.");
        }
      } else if (json.action == 8) {
        this.log(json.content + " is out of the game.");
      } else if (json.action == 9) {
        if (json.content == this.nameBox.name) {
          this.log("You've won the pile!");
          this.pileOutline = true;
          this.playBtnText = "Collect pile";
          this.slapBtnText = "Collect pile";
        } else {
          this.log(json.content + " has won the pile!");
        }
      } else if (json.action == 10) {
        this.log(json.content.name + " has collected the pile.");
        if (json.content.missed_slap) {
          this.slapsMissed += 1;
        }
        this.pileVisibility = "hidden";
        this.pileOutline = false;
        this.playBtnText = "Play card";
        this.slapBtnText = "Slap";
        this.attemptsLeft = 0;
      } else if (json.action == 11) {
        this.log(json.content + " new card(s) recieved.");
        this.pileVisibility = "hidden";
        this.pileOutline = false;
        this.playBtnText = "Play card";
        this.slapBtnText = "Slap";
        this.attemptsLeft = 0;
        this.canSlap = true;
      } else if (json.action == 12) {
        this.cardCount = json.content;
      } else if (json.action == 13) {
        this.cardCount = 0;
        this.canSlap = false;
        if (json.content.name == this.nameBox.name) {
          this.log("You have won the game with " + json.content.cards_left + " cards!");
        } else {
          this.log(json.content.name + " has won the game with " + json.content.cards_left + " cards!");
        }
      } else if (json.action == 14) {
        let name;
        if (json.content.name == this.nameBox.name) {
          name = "You";
        } else {
          name = json.content.name;
        }
        if (json.content.card != null) {
          let card = json.content.card;
          this.log(name + " had to burn a " + card.value + " of " + card.suit + "!");
        } else {
          this.log(name + " slapped with no cards for no reason, get outta heeee");
        }
        this.canSlap = true;
      } else if (json.action == 15) {
        this.log("That name is taken!");
      }
      this.$forceUpdate();
    },

    log: function(msg) {
      this.msgLog.push(msg);
    },

    newGame: function() {
      if (this.conn != null) {
        this.msgLog = [];
        this.conn.sendObj({'action': 1, 'content': null});
        this.$refs.newGame.blur();
      }
      this.pileVisibility = "hidden";
    },

    keyPressed: function(e) {
      if (this.conn != null && this.canSlap) {
        if (e.keyCode == 32) {
          this.slap();
          e.preventDefault();
          return false;
        } else if (e.keyCode == 17) {
          this.play();
          e.preventDefault();
          return false;
        }
      }
    },

    play: function() {
      if (this.cardCount > 0) {
        this.cardCount--;
      }
      this.conn.sendObj({'action': 3, 'content': null});
    },

    slap: function() {
      var t1 = performance.now();
      if (this.t0 != null) {
        this.slappedThisCard = true;
        this.canSlap = false;
        var time = t1 - this.t0;
        time = Math.round(time);
        this.log("You slapped! (" + time / 1000 + "sec)");
        this.conn.sendObj({ 'action': 2, 'content': time});
      } else {
        this.log("Error slapping!");
      }
    },

    calcOffset: function(card) {
      this.xOffset = 1950 - (this.cardWidth * card.value);
      let height;
      if (card.suit == 0) {
        height = this.cardHeight * 2;
      } else if (card.suit == 1) {
        height = this.cardHeight * 4;
      } else if (card.suit == 2) {
        height = this.cardHeight * 3;
      } else {
        height = this.cardHeight;
      }
      this.yOffset = height; 
    },

    showStats: function() {
      this.statsHidden = !this.statsHidden;
      this.$refs.statsBtn.blur();
    }
  }
}
</script>

<style>
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

#newGame {
    margin-top: 20px;
}

.currentTurn {
    color: red;
}

.msg {
  margin: 0;
}

#cardImg {
  background-image: url("../assets/cards.png");
  height: 201px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: .5em;
  box-sizing: content-box;
}

#game {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

#log {
  max-width: 350px;
}

#pile {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#currentTurnName {
  font-size: 3em;
  overflow: hidden;
  margin: 5px 0 15px 0;
}

#progress {
  height: 50px;
  width: 50px;
}

#attemptsLeft {
  height: 30px;
  margin: 0;
}

#play {
  height: 100px;
  width: 100%;
}

#game p {
  margin: 5px 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 767px) {
  #playInstructions {
      display: none;
  }

  .gameItem {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  #play {
      display: none;
  }

  .gameItem {
    width: 20%;
  }
}
</style>
